@tailwind base;
@tailwind components;
@tailwind utilities;

.apexcharts-toolbar {
  display: none !important;
}

.apexcharts-menu {
  display: none !important;
}

.apexcharts-menu-icon {
  display: none !important;
}
